<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#248dc1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name"><a href="{{ relative_url }}/" style="text-decoration: none; color: #ffffff;">{{ site.title | default: site.github.repository_name }}</a></h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      <!-- {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %} -->
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
          <img src="{{ '/assets/img/woolpert.png' | relative_url }}"/><br><br>
          Contents of this site &copy; 2018 Woolpert, Inc.; subject to the terms of the <a href="https://github.com/woolpert-googlecloud/maps-platform-best-practices/blob/master/LICENSE">MIT License</a>. Woolpert and associated logos are tradmarks of Woolpert, Inc.<br>
          <a href="{{ site.github.repository_url }}">Repository</a> maintained by <a href="https://woolpert.com/google/">Woolpert</a>.
      </footer>
    </main>
  </body>
</html>